.swiper {
  @apply w-full h-full;
}

.swiper-slide0 {
  @apply text-center text-lg bg-white flex justify-center items-center;
}

.autoplay-progress {
  @apply scale-[0.65] absolute right-4 bottom-4 z-10 w-12 h-12 flex items-center justify-center font-bold text-[#007aff];
}

.autoplay-progress svg {
  @apply stroke-[4px] stroke-[#007aff] absolute top-0 left-0 z-10 w-full h-full transform -rotate-90 fill-none;
  --progress: 0;
  stroke-dashoffset: calc(130 * (1 - var(--progress)));
  stroke-dasharray: 130;
}